#######################################################
# Drop sandbox environment-specific configuration file.
#######################################################

# Use all the settings from the base.toml file. All the list settings
# set in this file are appended to the settings from the base.toml.
# The net.mode, if set in this file, overwrites the net.mode set in
# the base.toml.
extends = "./base.toml"

# Add any settings that apply to this environment only:

mounts = []

blocked_paths = []

[environ]
exposed_vars = []
set_vars = []

[net]
# Uncomment to disable network access for this environment:
# mode = "off"

tcp_published_ports = []
udp_published_ports = []
tcp_host_ports = []
udp_host_ports = []
